



h1
{
  color: blue;
  font-size: 26px;




}


#page
{
  margin: 0 auto;
  width: 1200px;
  color: white;
  background-color: grey;
  height: 1800px;
   text-align: center;;
}

p
{
  font-size: 20px;


}